#define ZMK_POINTING_DEFAULT_MOVE_VAL 1500  // default: 600
#define ZMK_POINTING_DEFAULT_SCRL_VAL 20    // default: 10

#include <dt-bindings/zmk/mouse.h>
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>


&lt {
    tapping-term-ms = <200>;
    flavor = "balanced";
    quick-tap-ms = <150>;
};

/ {
    combos {
        compatible = "zmk,combos";

        escc {
            bindings = <&kp ESC>;
            key-positions = <17 18>;
            layers = <0>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <4 7>;
        };

        apostrophe {
            bindings = <&kp APOS>;
            key-positions = <29 30>;
        };
    };

    behaviors {
        hm: homerow_mods {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            tapping-term-ms = <300>;
            flavor = "tap-preferred";
            bindings = <&kp>, <&kp>;

            label = "HOMEROW_MODS";
        };

        mmv: mmv {
            compatible = "zmk,behavior-input-two-axis";
            label = "MMV";
            #binding-cells = <1>;
            x-input-code = <50>;
            y-input-code = <50>;
            time-to-max-speed-ms = <300>;
        };

        msc: msc {
            compatible = "zmk,behavior-input-two-axis";
            label = "MSC";
            #binding-cells = <1>;
            x-input-code = <50>;
            y-input-code = <50>;
            time-to-max-speed-ms = <300>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        Base {
            bindings = <
&kp ESCAPE      &kp N1           &kp N2           &kp N3           &kp N4            &kp N5                &kp N6               &kp N7             &kp N8      &hm PRINTSCREEN N9  &hm DEL N0           &hm BACKSPACE BACKSLASH
&kp TAB         &kp Q            &kp W            &kp E            &kp R             &hm PLUS T            &hm EQUAL Y          &kp U              &kp I       &kp O               &kp P                &kp MINUS
&kp LEFT_SHIFT  &hm LCTRL A      &hm LEFT_ALT S   &hm LEFT_GUI D   &hm LEFT_SHIFT F  &hm LEFT_BRACE G      &hm RIGHT_BRACE H    &hm RIGHT_SHIFT J  &hm RGUI K  &hm RIGHT_ALT L     &hm RCTRL SEMICOLON  &hm CAPSLOCK APOS
&kp LCTRL       &hm LS(LC(C)) Z  &hm LS(LC(V)) X  &hm LC(C) C      &hm LC(V) V       &hm LEFT_BRACKET B    &hm RIGHT_BRACKET N  &hm HOME M         &kp COMMA   &kp DOT             &lt 5 SLASH          &lt 4 GRAVE
                                                  &lt 3 BACKSPACE  &lt 1 SPACE       &lt 2 DELETE          &lt 2 LC(RET)        &lt 3 RET
                                                                   &mkp LCLK         &mkp RCLK             &lt 1 END
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        Nav {
            bindings = <
&none  &none           &none         &none          &none          &none      &none          &none              &none            &none       &none             &none
&none  &none           &kp HOME      &kp PAGE_DOWN  &none          &none      &none          &none              &kp UP_ARROW     &none       &none             &none
&none  &kp LEFT_SHIFT  &kp LG(LEFT)  &kp PAGE_UP    &kp LG(RIGHT)  &none      &kp MINUS      &kp LEFT           &kp DOWN_ARROW   &kp RIGHT   &kp RET           &none
&none  &kp LALT        &none         &none          &none          &none      &kp EQUAL      &kp C_VOLUME_DOWN  &kp C_VOLUME_UP  &kp K_MUTE  &kp C_PLAY_PAUSE  &none
                                     &none          &kp SPACE      &kp TAB    &kp RIGHT_GUI  &kp RET
                                                    &none          &none      &none
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        Num {
            bindings = <
&none           &none    &none    &none         &none      &none        &none      &none      &none   &none   &none         &none
&none           &kp F11  &kp F12  &kp F13       &kp F14    &kp F15      &kp PLUS   &kp N7     &kp N8  &kp N9  &kp PLUS      &kp MINUS
&kp LEFT_SHIFT  &kp F6   &kp F7   &kp F8        &kp F9     &kp F10      &kp MINUS  &kp N4     &kp N5  &kp N6  &kp ASTERISK  &kp SLASH
&none           &kp F1   &kp F2   &kp F3        &kp F4     &kp F5       &kp EQUAL  &kp N1     &kp N2  &kp N3  &kp N0        &kp PERIOD
                                  &kp LEFT_ALT  &kp SPACE  &kp ENTER    &kp RET    &kp SPACE
                                                &trans     &trans       &none
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        Sym {
            bindings = <
&none  &none              &none          &none          &none                 &none               &none              &none                  &none           &none        &none         &none
&none  &kp EXCLAMATION    &kp QUESTION   &kp DOLLAR     &kp LEFT_BRACE        &kp PIPE            &kp CARET          &kp RIGHT_BRACE        &kp PLUS        &kp MINUS    &kp ASTERISK  &none
&none  &kp DOUBLE_QUOTES  &kp AMPERSAND  &kp HASH       &kp LEFT_PARENTHESIS  &kp LEFT_BRACKET    &kp RIGHT_BRACKET  &kp RIGHT_PARENTHESIS  &kp AT_SIGN     &kp PERCENT  &kp EQUAL     &none
&none  &kp SINGLE_QUOTE   &kp COLON      &kp SEMICOLON  &kp BACKSLASH         &kp LESS_THAN       &kp GREATER_THAN   &kp SLASH              &kp UNDERSCORE  &kp TILDE    &none         &none
                                         &none          &kp C_VOLUME_DOWN     &kp C_VOLUME_UP     &mkp RCLK          &kp SPACE
                                                        &kp K_PLAY_PAUSE      &kp K_MUTE          &mkp LCLK
            >;

            trackball-bindings = <&tmv_coarse>;
        };

        Scroll {
            bindings = <
&trans  &trans  &trans            &trans          &trans           &trans    &trans  &trans     &trans  &trans  &trans     &trans
&trans  &trans  &msc MOVE_X(-15)  &msc SCRL_UP    &msc MOVE_X(15)  &trans    &trans  &trans     &trans  &trans  &trans     &trans
&trans  &trans  &msc SCRL_LEFT    &msc SCRL_DOWN  &msc SCRL_RIGHT  &trans    &trans  &trans     &trans  &trans  &mkp RCLK  &trans
&trans  &trans  &msc MOVE_Y(-15)  &trans          &msc MOVE_Y(15)  &trans    &trans  &trans     &trans  &trans  &mkp LCLK  &trans
                                  &trans          &trans           &trans    &trans  &mkp LCLK
                                                  &trans           &trans    &trans
            >;

            trackball-bindings = <&tsl>;
        };

        Mouse {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans  &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans  &trans  &trans     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans  &trans  &mkp RCLK  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans     &trans  &trans  &mkp LCLK  &trans
                        &trans  &trans  &trans    &trans  &mkp LCLK
                                &trans  &trans    &trans
            >;

            trackball-bindings = <&tmv_coarse>;
        };
    };
};
